/*colores{
background-color:#75300c;
background-color:#1e0f0c; 
background-color: #a25b14; 
background-color:#cfa02a;
background-color: #d8d5c2;
background-color: #6f6854;
background-color:#bcac8c; 
background-color:#f2da73;
}

fuentes
font-family: 'Autour One', cursive;
font-family: 'Young Serif', serif;
font-family: 'Signika Negative', sans-serif;

*/

@import url("https://fonts.googleapis.com/css2?family=Autour+One&family=Signika+Negative:wght@300&family=Young+Serif&display=swap");

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: #5d2417;
  width: 100%;
  overflow-x: hidden;
  background-image: url("assets/fondo\ madera.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*----------------------------------------------Pop-up/Modal------------------------------------*/
#ageVerification {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 9999;
}

#ageVerificationBox {
  width: 300px;
  display: grid;
  grid-template-rows: repeat(4, auto);
  gap: 10px;
  background: #000000;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
  transition: box-shadow 0.3s ease;
}

#ageVerificationBox:hover {
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.4);
}

#ageVerificationBox > :first-child {
  font-size: 1.2rem;
  color: #5d2417;
  font-family: "Young Serif", serif;
  font-weight: bolder;
}

#ageVerificationBox input {
  text-align: center;
  border-radius: 10px;
  background-color: #d8d5c2;
  font-family: "Autour One", cursive;
  font-weight: bold;
}

#ageVerificationBox button {
  background-color: #5d2417;
  border-radius: 10px;
  font-family: "Young Serif", serif;
}

#ageVerificationBox button:hover {
  background-color: #8b3c29;
}
.form-label {
  font-family: "Autour One", cursive;
  font-size: 0.8rem;
  color: #f8d94c;
  width: 100% !important;
  text-align: center !important;
}
#ageError {
  display: none;
  color: rgb(153, 31, 4);
  font-family: "Signika Negative", sans-serif;
  font-weight: bolder;
}

header {
  display: flex;
  justify-content: center;
  margin: 0;
  width: 100%;
  height: 40px;
}

.logo {
  display: flex;
  justify-content: center;
  width: 100%;
}

#logo-SM img {
  width: 120px;
}

/*------------------------------------------------------------menú hamburguesa--------------------------------------*/

.container-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: #5d2417;
  position: fixed;
  z-index: 999;
}
.menu-toggle {
  display: none;
}

/*Establece la posición fija para el icono del menú hamburguesa */
.menu-icon {
  font-size: 30px;
  cursor: pointer;
  float: right;
  display: none;
  position: relative;
}

.beer-icon {
  width: 30px;
  cursor: pointer;
  margin-bottom: 5px;
}

/*animacion para icono del menú hambruguesa*/
.beer-icon:hover {
  animation: shake 1.5s infinite ease-in-out;
}

@keyframes shake {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.menu {
  display: none;
  background-color: #000000;
  position: fixed;
  top: 0;
  right: 0;
  width: 65%;
  height: 90%;
  text-align: center;
  box-shadow: 0 2px 2px rgba(233, 227, 227, 0.1);
  z-index: 1;
  opacity: 0.95;
  box-shadow: -1px 0px 5px;
}

/* Estilo base de los elementos li */

.menu img {
  width: 130px;
  margin-bottom: 20px;
}
.menu ul {
  list-style: none;
  padding: 0;
}

.menu li {
  margin: 25px;
  font-weight: bold;
}

.menu li a {
  font-size: 1.1rem;
  font-family: "Autour One", cursive;
  text-transform: uppercase;
  color: #facda2;
  transition: color 0.4s, font-size 0.4s;
}

/*agregando pseudoclase a barra de navegación*/
.menu li a:hover {
  cursor: pointer;
  color: #b66834;
  font-size: 1.3rem;
}
.container-menu-close {
  height: 35px;
  background-color: #5d2417;
}
.menu-close {
  font-size: 20px;
  cursor: pointer;
  display: block;
  float: right;
  margin-right: 20px;
  color: #d8d5c2;
}

/*-------------------------------------funcionalidad menu hamburguesa--------------------------------------------*/
#menu-toggle:checked + .menu-icon + .menu {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
}

#menu-toggle:checked + .menu-icon {
  display: none;
}

#menu-toggle:checked + .menu + .menu-close {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
}

#menu-toggle:not(:checked) + .menu-icon {
  display: block;
}

#menu-toggle:not(:checked) + .menu {
  display: none;
}

a {
  text-decoration: none;
}

main p {
  font-family: "Signika Negative", sans-serif;
  font-weight: bold;
}

/*--------------------------------------------SECCION INICIO-------------------------------------------------------*/

#inicio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  text-align: center;
  height: 50vw;
  min-height: 500px;
  width: 100%;
  background-image: url(assets/giphy.gif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #291c06;
}

h1 {
  color: #f8d94c;
  font-size: 3.5rem;
  font-family: "Young Serif", serif;
  font-weight: 100;
  margin-top: 10px;
  padding: 3%;
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
}
.text-inicio {
  font-size: 1.5rem;
  font-weight: bolder;
  margin: 0px 15px 0px 15px;
  color: #000000;
  text-shadow: 0px 0px 2px rgb(255, 253, 253), 0px 0px 3px #f8d94c;
  font-family: "Young Serif", serif;
}

.inicio-registro {
  text-align: center;
  padding: 20px;
  margin-top: 6%;
}

.inicio-registro p {
  font-size: 1.6rem;
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
  color: #f8d94c;
}
.btn {
  display: inline-block;
  padding: 17px 27px;
  margin: 20px;
  font-size: 1.3rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bold;
  background-color: #5d2417;
  color: #f8d94c;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #f8d94c;
  transition: ease-out 0.5s;
}

.btn:hover {
  color: black;
  box-shadow: inset 400px 50px 0 0 #f8d94c;
}

.btn:active {
  transform: scale(0.9);
}

.btn-link {
  text-decoration: none;
}

/*----------------------------------------------SECCIÓN NOSOTROS---------------------------------------------*/

#nosotros {
  /* height: 50vw;
  min-height: 600px; */
  height: auto;
  text-align: center;
  /*background-image: url(assets/fondo\ madera.jpg);
   background: linear-gradient(45deg, #793f05, #f8d94c);
  background-size: 200% 200vw;
  animation: gradientAnimation 3s infinite alternate; */
}
/* 
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
} */

/*codigo para desktop*/

.nosotros-wrapper {
  grid-template-columns: 1fr; /* Cambia a una sola columna */
  grid-template-rows: repeat(4, 1fr); /* Cuatro filas */
  justify-items: center;
  align-items: center;
  gap: 10px;
}

.nosotros-text1,
.nosotros-text2,
.nosotros-video1,
.nosotros-video2 {
  grid-column: 1; /* Todos los elementos ocupan la columna 1 en la versión móvil */
}

.responsive-video,
.responsive-iframe {
  width: 300px;
  height: 150px;
}

#nosotros h2 {
  margin: 0;
  padding: 3%;
  text-transform: uppercase;
  font-family: "Young Serif", serif;
  color: #5d2417;
  text-shadow: 0px 0px 2px rgb(255, 253, 253), 0px 0px 2px #f8d94c;
}

#nosotros p {
  font-size: 0.9rem;
  font-family: "Autour One", cursive;
  text-shadow: 0px 0px 2px rgb(255, 253, 253);
  margin: 0 1px 0 1px;
}

/*----------------------------------------------SECCIÓN CERVEZAS----------------------------------------------------*/

#cervezas {
  display: block;
  justify-content: center;
  align-items: center;
  height: auto;
  background-color: #1e0f0c;
  padding-bottom: 3%;
}

#cervezas h2 {
  text-align: center;
  padding: 3%;
  margin: 0;
  font-family: "Young Serif", serif;
  text-transform: uppercase;
  color: #f8d94c;
}

.card-body {
  height: 150px;
}

/*-------------------------------------------------FOOTER-----------------------------------------------------------*/

#contacto {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.text-contacto {
  width: 100vw;
  text-align: center;
  margin: 2%;
}

.contacto-redes {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}

.info-contacto {
  text-align: center;
  align-self: self-start;
}

footer .derechos {
  text-align: center;
}

.contacto-redes {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.redes {
  margin-bottom: 3%;
}

.redes h3 {
  margin: 2%;
}

.redes a img {
  width: 20px;
  margin: 2%;
}

.form-label {
  width: 120px;
  display: inline-block;
  text-align: right;
  margin-right: 10px;
}

.form-input {
  width: 250px; /* Ancho fijo para los inputs */
}

#comentarios {
  width: 100%;
  min-width: auto;
  height: 150px;
  max-width: 400px;
}

/* ---------------------------------------------------media queries -----------------------------------------*/

@media screen and (max-width: 767px) {
  .menu-burger {
    display: block;
  }

  .logo {
    display: none;
  }

  h1 {
    font-size: 2.2rem;
    color: #5d2417;
  }

  .text-inicio {
    display: none;
  }
  #inicio {
    margin: 0;
  }
  .inicio-registro p {
    font-size: 1.2rem;
  }

  .btn {
    padding: 15px 20px;
    margin: 10px;
    font-size: 1rem;
  }
}

@media screen and (min-width: 769px) {
  #ageVerificationBox {
    width: 500px;
  }

  .menu-icon,
  .beer-icon {
    display: none;
  }
  .logo {
    display: none;
  }

  .menu img {
    position: absolute;
    bottom: -15%;
    left: 49%;
    transform: translateX(
      -50%
    ); /* el translate me ayudó para que el logo quede centrado siempre de manera responsiva*/
    z-index: 99;
  }

  header {
    height: 70px;
    padding: 0;
    margin: 0;
  }

  .menu {
    display: flex;
    background-color: #000000;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    text-align: center;
    box-shadow: 0;
    z-index: 1;
    opacity: 1;
  }

  .container-menu-close {
    display: none;
  }

  .menu ul {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: sticky;
    margin-top: 5px;
  }

  .menu li {
    padding: 2%;
    margin: 0;
  }

  .menu li a {
    padding: 0;
    font-size: 0.8rem;
  }

  .cervezas a {
    margin-right: 60px;
  }

  .cuenta a {
    margin-left: 60px;
  }
  .nosotros-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap:10px;
    height: 100%;
    justify-items: center;
    align-items: center;
  }
  .nosotros-text1{
    grid-column: 1;
    grid-row: 1;
  }
  .nosotros-text2{
    grid-column: 2;
    grid-row: 2;
  }
  
  .nosotros-video1{
    grid-column: 2;
    grid-row: 1;
  }
  .nosotros-video2{
    grid-column: 1;
    grid-row: 2;
  }
  
  .responsive-video, .responsive-iframe{
    width: 380px;
    height: 250px;
  
}

#nosotros h2{
  font-size: 1.2rem;
}

#nosotros p{
  font-size: 0.8rem;
}


@media screen and (min-width: 1414px){
  .nosotros-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap:10px;
    height: 100%;
    justify-items: center;
    align-items: center;
  }
  .nosotros-text1{
    grid-column: 1;
    grid-row: 1;
  }
  .nosotros-text2{
    grid-column: 2;
    grid-row: 2;
  }
  
  .nosotros-video1{
    grid-column: 2;
    grid-row: 1;
  }
  .nosotros-video2{
    grid-column: 1;
    grid-row: 2;
  }
  
  .responsive-video, .responsive-iframe{
    width: 700px;
    height: 400px;

}
}

@media screen and (min-width: 768px) and (max-width: 769px) {
  #inicio {
    background-image: url(assets/cat-sitting.gif);
  }
}
